.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    background-color: #fffef7;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 40px 20px;
    overflow: hidden;
    background: radial-gradient(circle, rgba(173, 205, 246, 3) 0%, rgba(255, 255, 255, 2) 100%);
}

.div--main--container {
    padding: 50px;
    height: 500px;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 35px;
    color: black;
    padding-top: 100px;
}

::placeholder {
    text-align: center;
}

button {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding:12px;
    border-radius: 10px;
    border: none;
    width: 150px;
    background-color: #1E3A8A;
    color: white;
}

input {
    font-family: "Poppins", sans-serif;
    border-radius: 50px;
    border: none;
    width: 324px;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    outline: none;
}

input[type="text"] {
    font-size: 15px;
}

button:active {
    background-color: #031033;
    transform: translateY(2px);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}